<section class="flex flex-col m-20 px-10 border-2 border-gray-200 items-center justify-center rounded-lg">
  <h1 class="main-title"><%= title %></h1>
  <div class="mb-10 w-full">
    <%= form_with(model: @article, class:"flex flex-col w-full") do |form| %>
      <% if @article.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@article.errors.count, "error") %> prohibited this article from being saved:</h2>

          <ul>
            <% @article.errors.each do |error| %>
              <li><%= error.full_message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>
      <div>
        <%= form.label :name, 'Insert name: ', class:"label-form"%>
        <%= form.text_field :name, class:"field-form"%>
      </div>

      <div>
        <%=form.label :description, 'Insert description: ', class:"label-form"%>
        <%=form.text_field :description, class:"field-form" %>
      </div>

      <div class="my-2">
        <%= form.label :avatar, 'Insert main image', class:"label-form" %>
        <%= form.file_field :avatar, class:"field-form" %>
      </div>

      <div class="my-2">
        <%= form.label :body, 'Insert content: ', class:"label-form"%>
        <%= form.rich_text_area :body, class:"field-form"%>
      </div>

      <div class="flex flex-col gap-2">
        <span class="font-bold text-sm">Categories
        </span>
        <%= collection_check_boxes(:categories, :ids, Category.all, :id, :name) do |b| %>
            <div class="flex items-center gap-2">
          <% if @article.categories.include?(Category.find(b.object.id)) %>
              <%= b.check_box checked: true %>
          <% else %>
              <%= b.check_box %>
          <% end %>
              <%= b.object.name %> 
            </div>
        <% end %>
      </div>

      <div class="my-2 flex items-center justify-center">
        <%= form.submit class: "btn-primary bg-green-800"%>
      </div>
    <% end %>
  </div>
</section>